
html, body{margin: 0;
    padding: 0;}

.container {  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 1fr);
 
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;}
  
  
  .ZONE2 { grid-area: 1 / 5 / 2 / 8; 
            display: flex;
            border: solid 2px rgb(252, 252, 252);
           text-align: center;
           justify-content: center;
           align-items: center;
            font-size: calc(1.8vw + 1.8vh);

            
  }
  
  .ZONE3 { grid-area: 2 / 3 / 6 / 7; 
           
            display: flex;
            border: solid 1px white;
}
  
  .ZONE4 { grid-area: 4 / 1 / 5 / 3; 
            
            display:flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: calc(2vw + 2vh);
            border: solid 1px white;
            background-color: rgb(255, 255, 255);
}
  
  .ZONE5 { grid-area: 5 / 1 / 9 / 4; 
            
            display: flex;
            border: solid 1px rgb(255, 255, 255);
}
  
.ZONE6 { grid-area: 2 / 7 / 7 / 8; 
            
            display: flex;
            border: solid 1px white;
}
  
  .ZONE7 { grid-area: 5 / 6 / 8 / 8; 
           
            display: flex;
            border: solid 1px white;
}
  
  .ZONE8 { grid-area: 6 / 4 / 7 / 6; 
            object-fit: cover;
            display: flex;
            border: solid 1px rgb(255, 255, 255);
}
  
  .ZONE9 { grid-area: 6 / 4 / 9 / 8; 
            
            display: flex;
            border: solid 1px white;
}
  
  .ZONE1 { grid-area: 1 / 1 / 5 / 4; 
          
         display: flex; 
         border: solid 1px white;
         
}
.ZONE0 { grid-area: 1 / 4 / 4 / 5;  
           
  display: flex;
  border: solid 1px white;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
    
    }



    .ZONE1:hover,
    .ZONE3:hover,
    .ZONE5:hover,
    .ZONE6:hover,
    .ZONE7:hover,
    .ZONE8:hover,
    .ZONE9:hover {
      z-index: 11;
    }

    
      

    
    .swiper {
      margin-left: auto;
      margin-right: auto;
      background-color: rgb(255, 255, 255);
      width: 100%;
      height: 100%;
      display: flex;
    }

    .focus{
      
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
      cursor: pointer;
      overflow: hidden;
        
    }   

    .focusimg{
      
      object-fit: contain; /* ou "cover" selon l'effet souhaité */
      

    }

    .swiper-slide{
      position: relative;
      display: flex;
      background: none;
      

    }

    